*.pyc
*.pyo
*.pyd
__pycache__/
*.so

venv/
env/
ENV/

*.sqlite3
db.sqlite3

*.log
stderr.log
*.pot
*.mo
*.coverage
*.py[cod]
*.swp
*.swo
*.DS_Store
*egg-info
*.eggs
*.idea/
*.vscode/

__pycache__/
flow/__pycache__/
home/__pycache__/
flowaccounts/__pycache__/
staticfiles/
media/
migrations/
ProjectNotes